.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bug:hover > .bug2 {
  color: rgb(69, 235, 3);
}
.checks {
  padding: 10px;
}
.form-space {
  padding-top: 3vh;
}
.check-label {
  display: inline-block;
  vertical-align: middle;
}
.center {
  text-align: center;
}
.lefter {
  text-align: left;
}
.tester {
  background-color: grey;
}
